[submodule "external/cglm"]
	path = external/cglm
	url = https://github.com/recp/cglm.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glew-cmake"]
	path = external/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "external/portaudio"]
	path = external/portaudio
	url = https://github.com/PortAudio/portaudio.git